{

 ;; CONFIG ENTRIES:
 ;; time in milliseconds until the model is trained anew
 fischer.components.gaussian-ad-trainer/model-training-interval-in-ms 1000

 ;; if true, data used for training is saved to disk for further analysis
 fischer.components.gaussian-ad-trainer/training-data-to-disk         false

 ;; Prometheus host address
 fischer.core/host                                                    "http://my-prometheus-ho.st"

 ;; Prometheus port
 fischer.core/port                                                    8080

 ;; Frontend/API host
 fischer.components.frontend/frontend-host                            "127.0.0.1"

 ;; Fronthend/API port
 fischer.components.frontend/frontend-port                            8080

 ;; Prometheus query config.
 ;; Different profiles containing an arbitrary number of queries.
 ;; Each profile is checked independently for anomalies.
 fischer.core/profiles                                                {:my-job        {:step-size "10m"
                                                                                       :days-back 7
                                                                                       :queries   ["sum(rate(http_duration_in_s_count{job='my-job', stage='live'}[1m]))"]
                                                                                       :epsylon   0.02}
                                                                       :my-second-job {:step-size "10m"
                                                                                       :days-back 7
                                                                                       :queries   ["sum(rate(http_duration_in_s_count{job='my-second-job', stage='live'}[1m]))"]
                                                                                       :epsylon   0.02}}

 ;; List of reporters used to notify about predictions
 fischer.core/reporters-configs                                       [{:type :file :file-path "./predictions"}
                                                                       {:type :console}
                                                                       {:type :prometheus
                                                                        :path "/metrics"}]

 ;; Interval in ms fischer checks for anomalies
 fischer.components.detector/repeat-in-ms                             10000

 ;; Amount of predictions stored for further analytics
 fischer.reporter.buffered-channel-reporter/max-queue-size            20
 }
