{

 ;; CONFIG ENTRIES:
 ;; if true, data used for training is saved to disk for further analysis
 conan.components.gaussian-ad-trainer/training-data-to-disk false

 ;; Prometheus host address
 conan.core/host                                            "http://my-prometheus-ho.st"

 ;; Prometheus port
 conan.core/port                                            8080

 ;; Prometheus query config.
 ;; Different profiles containing an arbitrary number of queries prometheus queries can be defined.
 ;; Each profile is checked independently for anomalies in queried data.
 conan.core/profiles                      {:my-job        {:step-size "10m"
                                                                             :days-back 7
                                                                             :queries   ["sum(rate(http_duration_in_s_count{job='my-job', stage='live'}[1m]))"]}
                                                             :my-second-job {:step-size "10m"
                                                                             :days-back 7
                                                                             :queries   ["sum(rate(http_duration_in_s_count{job='my-second-job', stage='live'}[1m]))"]}}

 ;; Epsylon. If calculated anomaly score is BELOW this value, conan will detect it as anomalous.
 conan.components.detector/epsylon                          0.02

 ;; Interval in ms conan checks for anomalies
 conan.components.detector/repeat-in-ms                     10000
 }
